name: Deploy to Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4


      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Log in to registry
        run: echo "${{ secrets.REGISTRY_PASSWORD }}" | docker login ${{ secrets.REGISTRY_URL }} -u ${{ secrets.REGISTRY_USERNAME }} --password-stdin

      - name: Build and push
        run: |
          docker build -t ${{ secrets.REGISTRY_URL }}/deso-oidc-bridge:latest .
          docker push ${{ secrets.REGISTRY_URL }}/deso-oidc-bridge:latest

      - name: Azure CLI - Update Web App to use new image
        uses: azure/cli@v1
        with:
          azcliversion: 2.30.0
          inlineScript: |
            az webapp config container set --name deso-oidc-bridge --resource-group bridge --docker-custom-image-name ${{ secrets.REGISTRY_URL }}/deso-oidc-bridge:latest
            az webapp restart --name deso-oidc-bridge --resource-group bridge
